<button data-pay_button class="">Payment</button>
<div class="modal" style="display: none">
    <div class="container_modal">
        <div class="loader-wrapper none">
            <div class="loader">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <p>Loading</p>
        </div>
        <div class="payment-title">
            <h1 class="text-4xl border-spacing-3">Payment Information</h1>
        </div>
        <div class="first_step">
            <div class="main-container">
                <div class="row">
                    <div class="field-container">
                        <label for="name">Name</label>
                        <input data-paramiters="name" id="name" type="text" />
                    </div>
                    <div class="field-container">
                        <label for="surname">Surname</label>
                        <input data-paramiters="surname" id="surname" type="text" />
                    </div>
                </div>
            </div>
            <div class="main-container">
                <div class="row">
                    <div class="field-container">
                        <label for="email">Email</label>
                        <input data-paramiters="email" id="email" type="email" />
                    </div>
                    <div class="field-container">
                        <label for="phone">Phone</label>
                        <input data-paramiters="phone" id="phone" type="text" />
                    </div>
                </div>
            </div>
            <div class="main-container">
                <div class="row">
                    <div class="field-container">
                        <label for="address">Address</label>
                        <input data-paramiters="address" id="address" type="text" />
                    </div>
                    <div class="field-container">
                        <label for="post_code">Post Code</label>
                        <input data-paramiters="postcode" id="post_code" type="text" />
                    </div>
                </div>
            </div>
            <div class="main-container">
                <div class="row">
                    <div class="field-container">
                        <label for="city">City</label>
                        <input data-paramiters="city" id="city" type="text" />
                    </div>
                    <div class="field-container">
                        <label for="country">Country</label>
                        <input data-paramiters="country" id="country" type="text" />
                    </div>
                </div>
            </div>
            <div class="main-container">
                <div class="row disclaimer_row">
                    <p>
                        • "I hereby understand and consent that Escrowfy GMBH, in its capacity of Escrow Agent regulated under the self-regulatory <br />
                        organisation (SRO) VQF, will process my payment and subsequently transfer the funds of my order to <span data-merchant style="font-style: oblique"></span>."
                        <br />
                        • "I hereby accept the
                        <span><a data-terms href="" target="_blank">T&C</a></span>
                        and
                        <span> <a data-policy target="_blank">Privacy Policy</a></span>
                        of
                        <span data-merchant style="font-style: oblique"></span>"
                    </p>
                </div>
            </div>
            <div class="main_container">
                <div class="row">
                    <div class="tacbox">
                        <input data-disclaimer_chackbox class="check_disclaimer" id="checkbox" type="checkbox" />
                        <label for="checkbox"> I agree to above listed Terms and Conditions.</label>
                    </div>
                </div>
            </div>
            <div class="main-container">
                <div class="action">
                    <button data-close_modal class="close-modal custom_button">Cancel</button>
                    <button data-next_button="main_done" class="custom_button">Go to Payment</button>
                </div>
            </div>
        </div>

        <div class="payment_done none">
            <div class="row done_p">
                <h2>Payment Status</h2>
            </div>
            <div class="row done_p">
                <p>Thank you for your order!</p>
            </div>
            <div class="row done_p">
                <p>We received and successfully processed your payment.</p>
            </div>
            <div class="row done_p">
                <p>
                    Your order number:
                    <span data-order_number class="orderNumber"></span>
                </p>
            </div>
        </div>
    </div>
</div>
