:root{
  --inputs_shadow:  1px 5px 3px #00000029;
}

.none {
  display: none !important;
}
.red{
  border: 2px solid red !important;
}
.green{
  border: 2px solid green !important;

}
input {
  margin: 0px 3px;
  padding: 5px;
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
  box-shadow: 1px 1px 3px #00000029;
}


.modal {
  display : none ;
  position:absolute ;
  width : 100%;
  height : 100%;
  z-index : 10000;
  top: 0px;
  left:0px;
  background-color: rgba(0,0,0,0.4) ;
}


.container_modal {
  box-shadow: 9px 9px 22px #00000052;
  border-radius: 10px;
  border: 2px solid grey;
  max-width: 1024px;
  background-color: rgb(255,255,255);
  margin: 8% auto;
  overflow: auto;
  padding: 40px;
  position:relative;
  height: 50%;
}

.payment-title {
  width: 100%;
  text-align: center;
}


.action{
  display: flex;
  justify-content: center ; 
  margin-top: 15px;
}
.action button{
  box-shadow: 1px 2px 3px #00000029;
}

.custom_button{
  outline: none;
  background: none;
  border: 2px solid gray;
  border-radius: 5px;
  font-size: 21px;
  cursor: pointer;
  padding: 1px 20px;
  margin: 0px 10px;
}
.custom_button:hover{
  background-color: grey;
  color: white;
}


  


.tacbox {
  display:block;
  max-width: 800px;
  font-size: 10px;
  cursor: pointer;
  padding-right: 15%;
}
.tacbox label{
  cursor: pointer;
}

.check_disclaimer {
  height: .8em;
  width: .8em;
  vertical-align: middle;

}


.disclaimer_row p{
  font-size: 10px;
}
 
.row.done_p{
  width: 100%;
  font-size: larger;
  font-style: italic;
}
  
.orderNumber{
  font-weight: bold;
}


  /* payment details */
.main-container{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.row{
  display: flex;
  /* width: 80%; */
  flex-wrap: wrap;
  justify-content: center;
}
.field-container{
  display: flex;
  flex-direction: column;
}

.payment_done{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Loader */
.loader-wrapper {
  text-align: center;
  height: 88%;
  background-color: #9797977d;
  z-index: 10;
  width: 91%;
  position: absolute;
  box-shadow: 5px 5px 5px #00000045;
  border-radius: 10px;
}
  
.loader {
  display: inline-block;
  position: relative;
  top: 42%;
  width: 80px;
  height: 80px;
}

.loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #6916a0;
  border-radius: 50%;
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #726979 transparent transparent transparent;
}

.loader div:nth-child(1) {
  animation-delay: -0.45s;
}

.loader div:nth-child(2) {
  animation-delay: -0.3s;
}

.loader div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes loader {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}








